button {
  height: 37px;
  background: #35A211;
  border: none;
  color: white;
  font-size: 14px;
  padding: 0 25px;
  line-height: 37px;
  border-radius: 5px;

  &:hover {
    background: #30930F;
  }

  &:focus {
    outline: none;
  }

  &:active {
    outline: none;
  }

  &.cancel {
    background: #23303D;
    &:hover {
      background: #1C2732;
    }
  }
}
