.filter-search {
  padding: 20px;
  ul {
    display: inline-block;
    width: 100%;
    li {
      float: left;
      height: 37px;
      line-height: 37px;
      margin-right: 15px;
      input,
      select {
        border-radius: 5px;
        box-shadow: none;
        font-size: 12px;
        color: #9b9b9b;
        min-width: 230px;
        height: 37px;
      }
      &.title {
        font-size: 12px;
        color: #4a4a4a;
      }
      &:last-child {
        margin-right: 0px;
        float: right;
      }
      @media (max-width: 680px) {
        width: 100%;
        margin-right: 0px;
        &:last-child {
          margin-top: 15px;
          span {
            width: 100%;
            text-align: center;
          }
        }
      }
    }
  }
}
