

.profile-dropdown-menu {
  .info {
    ul  {
      display: inline-block;
    width: 100%;
    li {
      float: left;
    }
    }
  }
  .control {
    ul {
      border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
    padding: 10px 0px;
    li {
      padding: 5px 0px
    }
    }
  }
}
