.app{
  .setting-member {
    padding: 70px 0px 0px 0px;
    .main {
      padding: 20px 20px;
      display: inline-block;
      width: 100%;
      .wrap-list {
        padding: 0px;
        .box-table {
          width: 33.33%;
          float: left;
          .title {
            background: white;
            li {
              &:first-child {
                float: left;
              }
              &:last-child {
                float: right;
              }
            }
          }
        }
        li.box {
          width: 33.33%;
          float: left;
          padding: 10px 20px;
          @media (max-width: 768px) {
            width: 50%;
          }
          @media (max-width: 660px) {
            width: 100%;
          }
          .table {
            display: inline-block;
            .title {
              min-height: 40px;
              background: white;
              line-height: 40px;
              padding: 0px 20px;
              border-radius: 5px 5px 0px 0px;
              h4 {
                color: #444444;
                font-weight: bold;
                font-size: 15px;
                text-transform: uppercase;
                float: left;
                line-height: 40px;
                background: white;
              }
              span {
                float: right;
                a {
                  margin-left: 5px;
                }
              }
            }
            .input {
              background: #F3F5F5;
              border-radius: 0px 0px 5px 5px;
              border-bottom: 2px solid #E1E2E2;
              padding: 7px 0px;
              display: inline-block;
              width: 100%;
              .form {
                padding: 0px 10px;
                li {
                  width: 50%;
                  float: left;
                  padding: 0px 10px;
                  .text {
                    float: left;
                    width: 20%;
                    text-align: center;
                    p {
                      line-height: 34px;
                      color: #444444;
                      font-size: 13px;
                    }
                  }
                  .value {
                    width: 50%;
                    float: right;
                    input {
                      text-align: center;
                      padding: 5px;
                      font-size: 13px;
                    }
                  }
                }
              }
            }
          }
        }
      }
      .add {
        position: fixed;
        right: 0;
        top: 185px;
        text-align: center;
        @media (max-width: 680px) {
          position: relative;
          right: 15px;
          top: 0px;
        }
      }
    }
  }
}
