form {
  display: inline-block;
  width: 100%;
  border: 1px solid #9B9B9B;
  padding: 10px 0; }
  form .form-group {
    padding: 0;
    margin: 10px 0;
    width: 33.33%;
    float: left; }
  form .btn-add {
    float: right;
    width: 8%;
    margin: 10px 0;
    position: relative;
    right: 15px;
    text-align: right; }
  form .text {
    color: #4A4A4A;
    font-size: 12px;
    font-weight: 400;
    height: 36px;
    line-height: 36px;
    padding-right: 0; }
  form .value {
    position: relative; }
    form .value .form-control {
      height: 36px;
      -webkit-box-shadow: none;
      box-shadow: none;
      font-size: 13px;
      color: #999999;
      border: 1px solid #E4E6E8; }
    form .value span {
      position: absolute;
      right: 25px;
      top: 10px; }
  form .unit {
    font-size: 13px;
    color: #9B9B9B; }
