ul.wrap-tabs {
  margin: 0px;
  display: inline-block;
  width: 100%;
  background: #E1E1E1;
  padding: 13px 40px;
  border-bottom: none; }
  ul.wrap-tabs li {
    float: left;
    margin-right: 10px; }
    @media (max-width: 680px) {
      ul.wrap-tabs li {
        width: 100%; } }
    ul.wrap-tabs li a {
      background: #2E3E4E;
      padding: 9px 20px;
      color: white;
      text-transform: uppercase;
      font-weight: 300;
      font-size: 13px;
      display: inline-block;
      border-radius: 5px; }
      ul.wrap-tabs li a:hover {
        background: #35A211;
        text-decoration: none; }
      @media (max-width: 680px) {
        ul.wrap-tabs li a {
          width: 100%;
          margin: 5px 0px; } }
    ul.wrap-tabs li.active a {
      background: #35A211; }
